.EmailListForm {
  display: flex;
  flex-direction: column;

  background: #cecece;
  color: #2a2a2a;

  font-family: Helvetica, Arial, sans-serif;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 5px;
}

#close {
  position: absolute;
  right: 2%;
}

.EmailListForm h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.EmailListForm .Wrapper {
  display: flex;
  flex-direction: row;
}

.EmailListForm input {
  color: #2a2a2a;
  width: 100%;
  border: none;
}

.EmailListForm button,
input {
  padding: 1rem 1.5rem;
}

.EmailListForm button {
  display: inline-block;

  border: none;
  background-image: none;
  background-color: #dd0505;
  color: white;

  letter-spacing: 1px;
  transition: all 0.1s linear;
}
.EmailListForm button:hover {
  cursor: pointer;
  background: darken(#dd0505, 15%);
}
